// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-sizes: (
    'xs': 0.75rem,
    'sm': .875rem,
    'base': 1rem,
    'lg': 1.125rem,
    'xl': 1.25rem,
    '2xl': 1.5rem,
    '3xl': 1.875rem,
    '4xl': 2.25rem,
    '5xl': 3rem,
    '6xl': 3.75rem,
    '7xl': 4.5rem,
    '8xl': 6rem,
    '9xl': 8rem,
);

@each $name, $value in $font-sizes {
    .fs-custom-#{$name} {
        font-size: $value !important;
    }
}
