/*begin fonts*/
@font-face {
    font-family: pmr;
    src: url("../fonts/PermanentMarker-Regular.ttf");
}

.ff-pmr {
    font-family: pmr, sans-serif;
}

@font-face {
    font-family: rmv;
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
}

.ff-rmv {
    font-family: rmv, sans-serif;
}
.ff-rmv-bold {
    font-family: rmv, sans-serif;
    font-weight: bold;
}
/*einde fonts*/
/*begin font size*/
.fs-320 {
    font-size: 320px;
}

/*end font size*/
/*begin button*/
.btn-main {
    color: black;
    background-color: white;
    padding: 10px 25px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.btn-main:hover {
    color: white;
    background-color: black;
    padding: 10px 25px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn-main-border {
    color: black;
    background-color: white;
    width: 100%;
    padding: 10px 25px;
    border: 2px solid transparent;
    text-decoration: none;
    transition-duration: 0.3s;
}

.btn-main-border:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 10px 25px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn-clear-filters {
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px 25px;
    border: 2px solid transparent;
    text-decoration: none;
    transition-duration: 0.3s;
}

.btn-clear-filters:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
    padding: 10px 25px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn-add-cart {
    border: none;
    font-family: rmv,sans-serif;
    color: white;
    padding: 10px 70px;
    background-color: black;
    text-decoration: none;
    transition-duration: 0.2s;
}

.btn-add-cart:hover {
    color: black;
    background-color: red;
    transition-duration: 0.2s;
}

/*einde button*/
/*eigen classes*/
.pt-6{
    padding-top: 60px;
}
/*einde eigen classes*/
/*begin header*/
/*begin nav*/
nav {
    background-color: black;
}

.brand {
    color: white;
    transition-duration: 0.2s;
}

.brand:hover {
    color: red;
    transition-duration: 0.2s;
    cursor: pointer;
}

.nav-link {
    color: white;
    float: left;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

.nav-link:hover {
    color: red;
    transition-duration: 0.2s;
    cursor: pointer;
}

/*red line effect on nav hover*/
.nav-link::after {
    background-color: red;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
}

.nav-link:hover::after {
    width: 100%;
}

/*einde red line effect on nav hover*/
/*einde nav*/
#home-header img{
    position: fixed;
    height: 100%;
    object-fit: cover;
    z-index: -50;
    left: 0;
    object-position: 50% 75%;
}

/*einde header*/
/*begin collections*/
#collections {
    background-color: darkslategrey;
}

#menc {
    background-image: url("../images/skate.png");
    background-size: 100%;
    background-position: center;
    height: 567px;
    -webkit-transition: 0.8s;
}

#womenc {
    background-image: url("../images/legs.png");
    background-size: 100%;
    background-position: center;
    height: 567px;
    -webkit-transition: 0.8s;
}

#menc:hover, #womenc:hover {
    background-size: 110%;
    cursor: pointer;
}

/*einde collections*/
/*begin sale*/
#shoeshuffle {
    height: 70vh;
}
#shoeshuffle img{
    position: fixed;
    height: 100%;
    object-fit: cover;
    z-index: -45;
    left: 0;
}

#salediv {
    padding-top: 20px;
    padding-bottom: 35px;
}

.bg-black {
    background-color: black;
}

/*einde sale*/
/*begin random shoes*/
/*einde random shoes*/
/*begin footer*/
footer {
    background-color: black;
}

.contact-input {
    background: none;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
    transition-duration: 0.2s;

}

.contact-input:hover {
    border: 4px solid white;
    padding: 7px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.contact-input-message {
    height: 100%;
}

.facebook, .twitter, .instagram {
    transition-duration: 0.2s;
}

.facebook:hover {
    color: #4267B2;
    transition-duration: 0.2s;
}

.twitter:hover {
    color: #1DA1F2;
    transition-duration: 0.2s;
}

.instagram:hover {
    transition-duration: 0.2s;
    color: #833AB4;
}

/*einde footer*/

/*begin shop*/
/*begin shop-header*/
#shop-header{
    margin-top: 50px;
    height: 40vh;
}
#shop-header img{
    position: fixed;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 50% 59%;
    z-index: -50;
}

/*begin shop-header*/

/*begin shop-content*/
.shop-input-seach{
    border: 2px solid black;
    border-radius: 0;
}
.shop-input-seach:hover{
    color: black;
    border: 2px solid red;
}
.shop-input-seach:focus{

    box-shadow: none;
    border: 2px solid red;
}

.card{
    font-family: rmv,sans-serif;
    text-align: center;
    border-radius: 0;
    border: 2px solid black;
}
.card:hover{
    border: 2px solid red;
}

.card img{
    border-radius: 0;
    border-bottom: 2px solid black;
}
.card:hover img{
    border-radius: 0;
    border-bottom: 2px solid red;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-deny {
    background-color: #7066e0;
}
/*einde shop-content*/
/*einde shop*/
/*begin shop-item*/

/*einde shop-item*/
/*begin shoppingcart*/
.border-cart-item{
    border: 2px solid black
}
.border-cart-item:hover{
    border: 2px solid red
}
.cart-delete{
    position: absolute;
    top: 1.5rem;
    right: 0;
}
.btn-delete{
    font-family: rmv,sans-serif;
    color: white;
    padding: 10px;
    background-color: red;
    transition-duration: 0.2s;
    border: none;
    width: 100%;
}
.btn-delete:hover{
    background-color: black;
    transition-duration: 0.2s;
}
.btn-checkout {
    font-family: rmv,sans-serif;
    color: white;
    padding: 10px 70px;
    background-color: black;
    text-decoration: none;
    transition-duration: 0.2s;
    border: none;
    width: 100%;
}

.btn-checkout:hover {
    color: black;
    background-color: red;
    transition-duration: 0.2s;
}
.btn-discount{
    font-family: rmv,sans-serif;
    color: white;
    padding: 0 15px;
    background-color: black;
    text-decoration: none;
    transition-duration: 0.2s;
    border: none;
}
.btn-discount:hover{
    color: black;
    background-color: red;
    transition-duration: 0.2s;
}
.discount-input{
    border: 2px solid black;
    border-radius: 0;
    transition-duration: 0.2s;
}
.discount-input:hover{
    transition-duration: 0.2s;
    border: 2px solid red;
}
.discount-dropdown{
    border: 2px solid black;
}

/*einde shoppingcart*/
/*begin orders*/
.accordion-border{
    border: 2px solid black;
}
.accordion-order-button:not(.collapsed){
    background-color: #ffffff;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
/*einde orders*/
/*begin login*/
.bg-red{
    background-color: darkred;
}
.btn-login {
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px 25px;
    border-radius: 0;
    border: 2px solid black;
    text-decoration: none;
    transition-duration: 0.2s;
}

.btn-login:hover {
    color: black;
    background-color: transparent;
    border: 2px solid black;
    transition-duration: 0.2s;
    cursor: pointer;
}
.login-input{
    border: 2px solid black;
    border-radius: 0;
}
.login-hover{
    transition-duration: 0.2s;
}
.login-hover:hover{
    color: black;
    transition-duration: 0.2s;
}
/*einde login*/

/*begin media queries*/
@media (max-width: 768px) {
    .contact-input-message {
        height: 20vh;
    }

    .fs-320 {
        font-size: 200px;
    }

    #womenc, #menc {
        background-size: 100%;
        height: 280px;
        -webkit-transition: 0.8s;
    }
}

/*einde media queries*/
